body { padding: 0px 0px;
       margin: 0px 0px; 
       background-color: white }

#page { display: block;
        padding: 0px;
        margin: 0px;
        padding-bottom: 10px; }

#header { display: block;
          position: relative;
          padding: 0;
          margin: 0;
          vertical-align: middle;
          border-bottom-style: solid;
          border-width: thin }

#header h1 { padding: 0; 
             margin: 0;}


/* Contenu */

#main{ display: block;
       padding: 10px;
       overflow: hidden;
       font-size: 100%;
       line-height: 100% }

#main  a.idref:visited {color : #416DFF; text-decoration : none; }
#main  a.idref:link {color : #416DFF; text-decoration : none; }
#main  a.idref:hover {text-decoration : none; }
#main  a.idref:active {text-decoration : none; }

#main  a.modref:visited {color : #416DFF; text-decoration : none; }
#main  a.modref:link {color : #416DFF; text-decoration : none; }
#main  a.modref:hover {text-decoration : none; }
#main  a.modref:active {text-decoration : none; }

#main .keyword { color : #cf1d1d }
#main { color: black }

#main .section { background-color:#90bdff;
                 font-size : 175% }

#main .doc { margin: 0px;
             padding: 10px;
             font-family: sans-serif;
             font-size: 100%;
	     line-height: 100%;
             font-weight:bold;
             color: black;
             background-color: #90bdff;
             border-style: plain}

.inlinecode { 
    display: inline;
    font-family: monospace } 

.code { 
    display: block;
    font-family: monospace } 

/* Pied de page */

#footer { font-size: 65%;
          font-family: sans-serif; }

#footer a:visited { color: blue; }
#footer a:link { text-decoration: none; 
                 color: #888888; }

.id { display: inline; }

.id[type="constructor"] { 
    color: rgb(60%,0%,0%);
}

.id[type="var"] { 
    color: rgb(40%,0%,40%);
}

.id[type="definition"] { 
    color: rgb(0%,40%,0%);
}

.id[type="lemma"] { 
    color: rgb(0%,40%,0%);
}

.id[type="inductive"] { 
    color: rgb(0%,0%,80%);
}

.id[type="keyword"] { 
 color : #cf1d1d;
/*     color: black; */
}
