/* $Id: estas.css,v 1.4 2003/06/26 14:59:30 methodeb Exp $ */

/* Feuille de style ESTAS */

pre { 
	border: 1pt solid #990000; 
	color: #FF3333; 
	font-family: "Courier New", Courier, mono; 
	white-space: pre; 
	background-color: #F3F3F3 
}


body {	
	padding: 10;
	border: 2.00pt 
}

h1 {  
	padding: 10;
	border: 2.00pt solid red; 
/*	color: #034bb0; */ 
	color : red;
/*	background-color: #d3e3fa; */
	/*text-align: center;*/
}

h2 {  
	border: 1pt solid red;
	text-align: left; 
	color: red; 

}





/* */
table {  background-color: #eff5fd} 
/* */

th {  
	background-color: #d3e3fa; 
	font-family: Arial, Helvetica, sans-serif
}

td {  
	font-family: Arial, Helvetica, sans-serif;
}

h3 { 
 	/* */
	text-align: center;
	/* */
	color: red; 
/*	background-color: #d3e3fa */
}

body {  
	background-color: #FFFFFF
}

h4 {  color: red; background-color: #d3e3fa}

h5 {  color: red; background-color: #d3e3fa}

dt {  
	font-weight: bold ;
	text-decoration : underline ;
}

dd {  
	font-style: italic
}
 
	

