pre { 
	border: 1pt solid DarkRed; 
	color: Red; 
	font-family: "Courier New", Courier, mono; 
	white-space: pre; 
}

h1 {  
	padding: 10;
	border: 2.00pt solid DarkRed; 
	color: Red;
}

h2 {  
	border: 1pt solid DarkRed; 
	color: Red}



th {  
	font-family: Arial, Helvetica, sans-serif
}

td {  
	font-family: Arial, Helvetica, sans-serif;
}

h3 {  
	color: Red; 
}

body {  
	background-color: White
}

h4 {  color: Red}

h5 {  color: Red}

dt {  
	font-weight: bold ;
	text-decoration : underline ;
}

dd {  
	font-style: italic
}


A:link { color:Red }
A:visited { color:DarkRed }

