pre { 
	border: 1pt solid #990000; 
	color: #FF3333; 
	font-family: "Courier New", Courier, mono; 
	white-space: pre; 
	background-color: #F3F3F3 
}

h1 {  
	padding: 10;
	border: 2.00pt solid #034bbf; 
/*	color: #034bb0; */ 
	color : red
	background-color: #d3e3fa 
}

h2 {  
	border: 1pt solid #034bbf; 
	color: #034bb0; 
	background-color: #d3e3fa}



table {  background-color: #eff5fd}

th {  
	background-color: #d3e3fa; 
	font-family: Arial, Helvetica, sans-serif
}

td {  
	font-family: Arial, Helvetica, sans-serif;
}

h3 {  
	color: #034bbf; 
	background-color: #d3e3fa
}

body {  
	background-color: #FFFFFF
}

h4 {  color: #034bbf; background-color: #d3e3fa}

h5 {  color: #034bbf; background-color: #d3e3fa}

dt {  
	font-weight: bold ;
	text-decoration : underline ;
}

dd {  
	font-style: italic
}

